<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425666711270-dfoa7s98rdlctee62b41fea4hhrifr1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425666711270-dfoa7s98rdlctee62b41fea4hhrifr1l</string>
	<key>API_KEY</key>
	<string>AIzaSyAvtsVV5greQz2buW2ECTFejDJFcCLbgGI</string>
	<key>GCM_SENDER_ID</key>
	<string>425666711270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dai.realtime-chat</string>
	<key>PROJECT_ID</key>
	<string>realtime-chat-ios-fa978</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-chat-ios-fa978.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425666711270:ios:b8e11effa0165134447527</string>
	<key>DATABASE_URL</key>
	<string>https://realtime-chat-ios-fa978.firebaseio.com</string>
</dict>
</plist>